In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS

In [2]:
data = pd.read_csv('C:/Users/prabh/Desktop/myProjects/MovieLens Dataset analysis/movies.csv')

In [3]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
title      27278 non-null object
genres     27278 non-null object
dtypes: int64(1), object(2)
memory usage: 639.4+ KB

In [5]:
movies = data['movieId'].unique().tolist()
len(movies)

27278

In [6]:
rating = pd.read_csv('C:/Users/prabh/Desktop/myProjects/MovieLens Dataset analysis/ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [7]:
rating.shape

(1048575, 4)

In [8]:
len(rating['userId'].unique().tolist())

7120

In [9]:
rating['rating'].min()

0.5

In [10]:
rating['rating'].max()

5.0

In [11]:
data.shape

(27278, 3)

In [12]:
data.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [13]:
rating.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [14]:
tag = pd.read_csv('C:/Users/prabh/Desktop/myProjects/MovieLens Dataset analysis/tags.csv')

In [15]:
tag.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [16]:
tag.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [17]:
tag = tag.dropna()

In [18]:
tag.isnull().any()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

In [19]:
len(tag['tag'].unique().tolist())

38643

Data Analysis

In [20]:
comedy_movies = data['genres'].str.contains('Comedy')
data[comedy_movies].head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance

In [21]:
drama_movies = data['genres'].str.contains('Drama')
data[drama_movies].head()

    movieId                           title                genres
3         4        Waiting to Exhale (1995)  Comedy|Drama|Romance
10       11  American President, The (1995)  Comedy|Drama|Romance
13       14                    Nixon (1995)                 Drama
15       16                   Casino (1995)           Crime|Drama
16       17    Sense and Sensibility (1995)         Drama|Romance

In [22]:
drama_movies.shape

(27278,)

In [23]:
movie_rating_data = pd.merge(data, rating, on='movieId', how='inner')

In [24]:
movie_rating_data.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [29]:
unique_genre = data['genres'].unique().tolist()

In [30]:
len(unique_genre)

1342

In [36]:
high_rated = movie_rating_data['rating']>4
movie_rating_data[high_rated].head(5)

,movieId,title,genres,userId,rating,timestamp
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,34,5.0,846509445

In [37]:
low_rated = movie_rating_data['rating'] < 4
movie_rating_data[low_rated].head(5)

,movieId,title,genres,userId,rating,timestamp
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,16,3.0,990969772
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,3.0,994638157
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,3.0,1424733487
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,47,1.0,1239940397
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,80,3.0,858458513